body{
  text-align: center;
  background-color: gray;
  font-family: fantasy;
}

.pups{
  width: 100%;
  border: 13px solid silver;
  border-style: groove;
}

h2.pups{
  margin-left: auto;
  margin-right: auto;
}

div{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 300px;
  max-width: 500px;
}
